<h1>PRODUCTS</h1>

<% @products.each do |product| %>
  <h2><%=product.name%></h2>
  <h3>Price: $<%=product.price%></h3>
  <h3>Description: <%=product.description%></h3>
  <h4><a href="/products/<%=product.id%>">See Product</a></h4>
<% end %>